.card {
  /* max-width: 30vw; */
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* align-items to get the text to be at the left */
  /* align-items: flex-start; */
}

.card img {
  /* height: 20vw; */
  width: 100%;
  /* width: 30vw; */
  height: 100%;
  object-fit: contain;
}

.cardInfo > * {
  margin-top: 0.5rem;
}

.cardButtonContainer {
  display: flex;
  justify-content: center;
}
.cardButton {
  width: 2rem;
}

.cardButtonContainer input {
  max-width: 2rem;
  /* height: 100%; */
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
}
